<% title "Vogntyper" %>

<table>
  <tr>
    <th>Navn</th>
  </tr>
  <% for car_type in @car_types %>
    <tr>
      <td><%=h car_type.name %></td>
      <td><%= link_to "Vis", car_type %></td>
      <td><%= link_to "Rediger", edit_car_type_path(car_type) %></td>
      <td><%= link_to "Slet", car_type, :confirm => 'Er du sikker?', :method => :delete %></td>
    </tr>
  <% end %>
</table>

<p><%= link_to "Ny Vogntype", new_car_type_path %> |
   <%= link_to "Forside", root_url %></p>
