<h1>Vogntyper</h1>

<table>
  <thead>
    <tr>
      <th>Navn</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @car_types.each do |car_type| %>
      <tr>
        <td><%= car_type.name %></td>
        <td><%= link_to 'Vis', car_type %></td>
        <td><%= link_to 'Rediger', edit_car_type_path(car_type) %></td>
        <td><%= link_to 'Slet', car_type, method: :delete, data: { confirm: 'Er du sikker?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Ny vogntype', new_car_type_path %>
