<% title "Forside - tog.lensboel.dk" %>
<p><%= link_to "Fabrikater", makes_path %> | <%= link_to "Dekodere", decoders_path %> | <%= link_to "Operatører", operators_path %> | <%= link_to "Vogn Typer", car_types_path %> | <%= link_to "Lokomotiv Typer", lokomotive_types_path %> ||| <%= link_to "GAMMEL LISTE", trains_path %></p>

<p>Det her er så den nye forside hvor der skal være mere info på. Tænkte noget med 5 senest tilføjede vogne og lokomotiver, samt noget om hvad man selv har.<br>
Den nye side her og måden at dele tingene op på er en hel nu måde at tænke det hele på for at gøre det mere overskueligt, og er slet ikke færdig. Men det kommer! :)<br>
<br>
Tingene fra den gamle liste skal skrives over i den nye, så den gamle liste kan slettes.<br>
Dertil er navigationen stadig lidt haltene, men jeg skal nok få gjort det bedre.<br>
<br>
Hele grunden til dette er at gøre det mere overskueligt hvad vi har, og give mulighed for at vise eksempelvis alle B vogne eller alle lokomotiver med ESU Loksound 3.5<br>
<br>
/Claus - 26/2-10 18:20</p>

<table width="100%">
	<tr>
		<td id="lokomotives">
			<h2>Lokomotiver</h2>
			<p><%= link_to "Lokomotiv Liste", train_lokomotives_path %></p>
			<h3>5 nyeste</h3>
			<% for lokomotive in @lokomotives %>
				<%= link_to lokomotive.operator.name+" "+lokomotive.lokomotive_class_name+" "+lokomotive.lokomotive_class_number, lokomotive %><br />
			<% end %>
		</td>

		<td id="cars">
			<h2>Vogne</h2>
			<p><%= link_to "Vogn Liste", train_cars_path %></p>
			<h3>5 nyeste</h3>
			<% for car in @cars %>
				<%= link_to car.operator.name+" "+car.car_class_name+" "+car.car_class_number, car %><br />
			<% end %>
		</td>
	</tr>
</table>
