<h1>Fabrikater</h1>

<table>
  <thead>
    <tr>
      <th>Navn</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @makes.each do |make| %>
      <tr>
        <td><%= make.name %></td>
        <td><%= link_to 'Vis', make %></td>
        <td><%= link_to 'Rediger', edit_make_path(make) %></td>
        <td><%= link_to 'Slet', make, method: :delete, data: { confirm: 'Er du sikker?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Nyt fabrikat', new_make_path %>
