<% title "Fabrikater" %>

<table>
  <tr>
    <th>Navn</th>
  </tr>
  <% for make in @makes %>
    <tr>
      <td><%=h make.name %></td>
      <td><%= link_to "Vis", make %></td>
      <td><%= link_to "Rediger", edit_make_path(make) %></td>
      <td><%= link_to "Slet", make, :confirm => 'Er du sikker?', :method => :delete %></td>
    </tr>
  <% end %>
</table>

<p><%= link_to "Ny Fabrikant", new_make_path %> |
   <%= link_to "Forside", root_url %></p>
