<% title "Materiel" %>

<table>
  <tr>
    <th>Litra</th>
    <th>Type</th>
    <th>Fabrikant</th>
    <th>Decoder Addresse</th>
    <th>Decoder Version</th>
    <th>Kasse Nummer</th>
    <th>Ejer</th>
    <th>Pris</th>
  </tr>
  <% tr_class = "row_1" %>
  <% for train in @trains %>
    <tr class="<%= tr_class %>">
      <td><%=h train.litra %></td>
      <td><%=h train.train_type %></td>
      <td><%=h train.make %></td>
      <td><%=h train.decoder_address %></td>
      <td><%=h train.decoder_version %></td>
      <td><%=h train.box_number %></td>
      <td><%=h train.owner %></td>
      <td>DKK <%=h train.price %></td>
      <!--<td><%= link_to "Vis", train %></td>-->
      <td><%= link_to "Redigér", edit_train_path(train), :class => "edit" %></td>
      <td><%= link_to "Slet", train, :confirm => 'Er du sikker?', :method => :delete, :class => "delete" %></td>
    </tr>
    <% tr_class = (tr_class == "row_1") ? "row_2" : "row_1" %>
  <% end %>
</table>

<p><%= link_to "Nyt Materiel", new_train_path %></p>
