<% title "Tog" %>

<p>
  <strong>Litra:</strong>
  <%=h @train.litra %>
</p>
<p>
  <strong>Type:</strong>
  <%=h @train.train_type %>
</p>
<p>
  <strong>Fabrikant:</strong>
  <%=h @train.make %>
</p>
<p>
  <strong>Decoder Addresse:</strong>
  <%=h @train.decoder_address %>
</p>
<p>
  <strong>Decoder Version:</strong>
  <%=h @train.decoder_version %>
</p>
<p>
  <strong>Kasse Nummer:</strong>
  <%=h @train.box_number %>
</p>
<p>
  <strong>Ejer:</strong>
  <%=h @train.owner %>
</p>
<p>
  <strong>Pris:</strong>
  <%=h @train.price %>
</p>

<p>
  <%= link_to "Redigér", edit_train_path(@train) %> |
  <%= link_to "Slet", @train, :confirm => 'Er du sikker?', :method => :delete %> |
  <%= link_to "Vis Alle", trains_path %>
</p>
