<h1>Listing decoders</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @decoders.each do |decoder| %>
      <tr>
        <td><%= decoder.name %></td>
        <td><%= link_to 'Show', decoder %></td>
        <td><%= link_to 'Edit', edit_decoder_path(decoder) %></td>
        <td><%= link_to 'Destroy', decoder, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Decoder', new_decoder_path %>
