<h1>Dekodere</h1>

<table>
  <thead>
    <tr>
      <th>Navn</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @decoders.each do |decoder| %>
      <tr>
        <td><%= decoder.name %></td>
        <td><%= link_to 'Vis', decoder %></td>
        <td><%= link_to 'Rediger', edit_decoder_path(decoder) %></td>
        <td><%= link_to 'Slet', decoder, method: :delete, data: { confirm: 'Er du sikker?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Ny dekoder', new_decoder_path %>
