<% title "Dekoder" %>

<p>
  <strong>Navn:</strong>
  <%=h @decoder.name %>
</p>

<p>
  <%= link_to "Rediger", edit_decoder_path(@decoder) %> |
  <%= link_to "Slet", @decoder, :confirm => 'Er du sikker?', :method => :delete %> |
  <%= link_to "Vis Alle", decoders_path %> |
  <%= link_to "Forside", root_url %>
</p>
