<h1>Operatører</h1>

<table>
  <thead>
    <tr>
      <th>Forkortelse</th>
      <th>Fuldt navn</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @operators.each do |operator| %>
      <tr>
        <td><%= operator.name %></td>
        <td><%= operator.full_name %></td>
        <td><%= link_to 'Vis', operator %></td>
        <td><%= link_to 'Rediger', edit_operator_path(operator) %></td>
        <td><%= link_to 'Slet', operator, method: :delete, data: { confirm: 'Er du sikker?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Ny operatør', new_operator_path %>
