<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @operator.name %>
</p>

<p>
  <strong>Full name:</strong>
  <%= @operator.full_name %>
</p>

<%= link_to 'Edit', edit_operator_path(@operator) %> |
<%= link_to 'Back', operators_path %>
