<p id="notice"><%= notice %></p>

<p>
  <strong>Forkortelse:</strong>
  <%= @operator.name %>
</p>

<p>
  <strong>Fuldt navn:</strong>
  <%= @operator.full_name %>
</p>

<%= link_to 'Rediger', edit_operator_path(@operator) %> |
<%= link_to 'Tilbage', operators_path %>
