<% title "Train Lokomotive" %>

<p>
  <strong>Operatør:</strong>
  <%=h @train_lokomotive.operator.name %>
</p>
<p>
  <strong>Litra Klasse:</strong>
  <%=h @train_lokomotive.lokomotive_class_name %>
</p>
<p>
  <strong>Litra Nummer:</strong>
  <%=h @train_lokomotive.lokomotive_class_number %>
</p>
<p>
  <strong>Fabrikant:</strong>
  <%=h @train_lokomotive.make.name %>
</p>
<p>
  <strong>Type:</strong>
  <%=h @train_lokomotive.lokomotive_type.name %>
</p>
<p>
  <strong>Dekoder Addresse:</strong>
  <%=h @train_lokomotive.decoder_adderss %>
</p>
<p>
  <strong>Decoder Type:</strong>
  <%=h @train_lokomotive.decoder.name %>
</p>
<p>
  <strong>Kasse Nummer:</strong>
  <%=h @train_lokomotive.box_number %>
</p>
<p>
  <strong>Ejer:</strong>
  <%=h @train_lokomotive.user.name %>
</p>
<p>
  <strong>Pris:</strong>
  <%=h @train_lokomotive.price %>
</p>

<p>
  <%= link_to "Rediger", edit_train_lokomotive_path(@train_lokomotive) %> |
  <%= link_to "Slet", @train_lokomotive, :confirm => 'Er du sikker?', :method => :delete %> |
  <%= link_to "Lokomotiv Oversigt", train_lokomotives_path %> |
  <%= link_to "Forside", root_url %>
</p>
