<% title "Vogne" %>

<table>
  <tr>
    <th>Operatør</th>
    <th>Litra</th>
    <th>Fabrikant</th>
    <th>Type</th>
    <th>Kasse Nummer</th>
    <th>Ejer</th>
    <th>Pris</th>
  </tr>
  <% tr_class = "row_1" %>
  <% for train_car in @train_cars %>
  	<% tr_class = (tr_class == "row_1") ? "row_2" : "row_1" %>
    <tr class="<%= tr_class %>">
      <td><%=h train_car.operator.name %></td>
      <td><%=h train_car.car_class_name %> <%= link_to train_car.car_class_number, train_car %></td>
      <td><%=h train_car.make.name %></td>
      <td><%=h train_car.car_type.name %></td>
      <td><%=h train_car.box_number %></td>
      <td><%=h train_car.user.name %></td>
      <td><%=h train_car.price %></td>
      <td><%= link_to "Rediger", edit_train_car_path(train_car), :class => "edit" %></td>
      <td><%= link_to "Slet", train_car, :confirm => 'Er du sikker?', :method => :delete, :class => "delete" %></td>
    </tr>
  <% end %>
</table>

<p><%= link_to "Ny Vogn", new_train_car_path %> |
   <%= link_to "Forside", root_url %></p>
