<h1>Vogne</h1>

<table>
  <thead>
    <tr>
      <th>Operatør</th>
      <th>Litra</th>
      <th>Litra nummer</th>
      <th>Fabrikat</th>
      <th>Vogn type</th>
      <th>Kasse nummer</th>
      <th>Ejer</th>
      <th>Pris</th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @train_cars.each do |train_car| %>
      <tr>
        <td><%= train_car.operator.name %></td>
        <td><%= train_car.car_class_name %></td>
        <td><%= train_car.car_class_number %></td>
        <td><%= train_car.make.name %></td>
        <td><%= train_car.car_type.name %></td>
        <td><%= train_car.box_number %></td>
        <td><%= train_car.owner.name %></td>
        <td><%= train_car.price %></td>
        <td><%= image_tag train_car.picture.url(:tiny) %></td>
        <td><%= link_to 'Vis', train_car %></td>
        <td><%= link_to 'Rediger', edit_train_car_path(train_car) %></td>
        <td><%= link_to 'Slet', train_car, method: :delete, data: { confirm: 'Er du sikker?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Ney vogn', new_train_car_path %>
