<p id="notice"><%= notice %></p>

<p>
  <strong>Operatør:</strong>
  <%= @train_car.operator.name %>
</p>

<p>
  <strong>Litra:</strong>
  <%= @train_car.car_class_name %>
</p>

<p>
  <strong>Litra nummer:</strong>
  <%= @train_car.car_class_number %>
</p>

<p>
  <strong>Fabrikat:</strong>
  <%= @train_car.make.name %>
</p>

<p>
  <strong>Vogn type:</strong>
  <%= @train_car.car_type.name %>
</p>

<p>
  <strong>Kasse nummer:</strong>
  <%= @train_car.box_number %>
</p>

<p>
  <strong>Ejer:</strong>
  <%= @train_car.owner.name %>
</p>

<p>
  <strong>Pris:</strong>
  <%= @train_car.price %>
</p>

<%= link_to 'Rediger', edit_train_car_path(@train_car) %> |
<%= link_to 'Tilbage', train_cars_path %>
