<% title "Lokomotiv Type" %>

<p>
  <strong>Navn:</strong>
  <%=h @lokomotive_type.name %>
</p>

<p>
  <%= link_to "Rediger", edit_lokomotive_type_path(@lokomotive_type) %> |
  <%= link_to "Slet", @lokomotive_type, :confirm => 'Er du sikker?', :method => :delete %> |
  <%= link_to "Vis Alle", lokomotive_types_path %> |
  <%= link_to "Forside", root_url %>
</p>
